#toggle-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    display: none;
}


.active{
    border-bottom: 3px solid white;
}

.Navigation{
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: relative;
    font-family: 'Sofia Sans', sans-serif;
}

.Navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
}

.Navigation img{
    width: 4rem;
    height: 4rem;
}

.Navigation ul li a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    padding: .25rem;
    text-transform: uppercase;
}


.Navigation a:hover{
    transform: scale(1.05);
    transform: 0.2s;
}

@media screen and (max-width:576px) {
    #toggle-button{
        display: flex;
    }

    .Navigation ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    .Navigation{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.open{
        display: flex;
    }

    .Navigation img{
        width: 3rem;
        height: 3rem;
    }
}